{{define "layout"}}
<html>
    <head>
        <title>My Website</title>
        <style>
            #header{
                background-color: aquamarine;
            }
            #sidebar{
                float: left;
                width: 200px;
                background-color: antiquewhite;
            }
            #content{
                margin-left: 210px;
            }
            #footer{
                background-color: black;
                color: white;
            }

        </style>
    </head>
    <body>
        <div id="header">Header</div>
        <div id="sidebar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/produk">Produk</a></li>
            </ul>
        </div>
        <div id="content">{{template "content" .}}</div>
        <div id="footer"></div>
    </body>
</html>
{{end}}
